*{
  padding: 0px;
  margin: 0px;
}

html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
}

form {
  text-align: 100px;
  display: block;
  margin: auto;
  width: 400px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

form > h1{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 5px;
  margin-bottom: 30px;
  font-weight: bolder;
}

.formulaire {
  display: flex;
  height: 100%;
  align-items: center;
}

/* .form-control {
  width: % !important;
} */

body {
  background-color: #e9ecef !important;
}

.cc-navbar {
  background-color: rgba(255, 255, 255, 1);
}

#boutonSoumettre{
  color: white;
  background-color: darkorange ;
  transition: 0.5s;
  display: block;
  margin: auto ;
  margin-top: 20px ;
}